@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  box-shadow: 0 2px 0px 0px rgba(128, 128, 128, 0.5);
}
@media screen and (min-width: 992px) {
  header {
    box-shadow: 0 4px 0px 0px rgba(128, 128, 128, 0.5);
  }
}

.header__arrow {
  position: absolute;
  top: 15px;
  left: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.position {
  background: #eaeaea;
}
.position__container {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  gap: 1rem;
  font-weight: 500;
  color: #353535;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.exploration {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .exploration {
    border-radius: 0px 0px 20px 20px;
  }
}
.exploration__title {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
.exploration__description {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 100;
}
.exploration__button {
  display: block;
  box-shadow: none;
  border: none;
  background: none;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: white;
  border-radius: 30px;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  display: block;
}
.exploration__button:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 3rem 0rem 3rem 0rem;
  width: 90%;
  margin: 0 auto;
}
.fonctionnement__title {
  margin-bottom: 1.5rem;
}
.fonctionnement__steps {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background: #f6f6f6;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.8rem 0rem 0.8rem 0rem;
  border-radius: 20px;
  font-weight: 700;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__steps {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement__steps {
    width: 28%;
  }
}
.fonctionnement__steps:hover {
  background: hsl(267.3134328358deg, 70%, 95%);
}
.fonctionnement__steps:hover i {
  color: #9356dc;
}
@media screen and (min-width: 992px) {
  .fonctionnement__steps__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__steps__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.fonctionnement__steps__numbers {
  background: #9356dc;
  color: white;
  font-size: 1rem;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  right: 12px;
  font-weight: 500;
}
.fonctionnement__steps__icons {
  font-size: 1.4rem;
  color: #7e7e7e;
}
.fonctionnement__steps__text {
  margin-left: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f6f6f6;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .restaurants {
    border-radius: 20px;
    margin-bottom: 2rem;
  }
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants__list__title {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}
.restaurants__image {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0 0.5rem 0;
}
.restaurants__left__box {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.restaurants__main__box {
  background: white;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
@media screen and (min-width: 992px) {
  .restaurants__main__box {
    width: 23%;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .restaurants__main__box {
    width: 48%;
  }
}
.restaurants__location {
  font-weight: 100;
}
.restaurants__icons {
  font-size: 1.3rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.restaurants__icons:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  background: linear-gradient(to top right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurants__new {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  width: 90px;
  color: #008766;
  border-radius: 2px;
}
.restaurants__links {
  text-decoration: none;
  color: black;
}
.restaurants__like__buttons {
  text-decoration: none;
  color: black;
}

footer {
  background: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer__title {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  font-size: 1.3rem;
}
.footer__icons {
  width: 25px;
  height: 20px;
}
.footer__links {
  text-decoration: none;
  text-transform: none;
  color: white;
}

footer {
  background: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer__title {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  font-size: 1.3rem;
}
.footer__icons {
  width: 25px;
  height: 20px;
}
.footer__links {
  text-decoration: none;
  text-transform: none;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  box-shadow: 0 2px 0px 0px rgba(128, 128, 128, 0.5);
}
@media screen and (min-width: 992px) {
  header {
    box-shadow: 0 4px 0px 0px rgba(128, 128, 128, 0.5);
  }
}

.header__arrow {
  position: absolute;
  top: 15px;
  left: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
  }
}
.menu {
  margin-top: -30px;
  z-index: 2;
  background: #f6f6f6;
  position: relative;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  .menu__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menu__img {
  width: 100%;
  z-index: 1;
}
.menu__img__desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .menu__img__desktop {
    display: block;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__img__desktop {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .menu__img__mobile {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__img__mobile {
    display: none;
  }
}
.menu__box__title__heart {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 2rem 0rem 1rem 0rem;
}
@media screen and (min-width: 992px) {
  .menu__box__title__heart {
    justify-content: center;
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__box__title__heart {
    justify-content: center;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
.menu__title {
  font-size: 1.7rem;
  font-family: "Shrikhand", cursive;
  font-weight: 200;
}
.menu__title__icons {
  font-size: 1.3rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.menu__title__icons:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  background: linear-gradient(to top right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu__like__buttons {
  text-decoration: none;
  color: black;
}
.menu__button {
  display: block;
  box-shadow: none;
  border: none;
  background: none;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: white;
  border-radius: 30px;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 2rem;
}
.menu__button:hover {
  cursor: pointer;
}
.menu__steps {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.menu__steps::after {
  width: 40px;
  height: 3px;
  content: "";
  background: #99e2d0;
  margin-top: 0.2rem;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__steps__desserts {
    width: 95%;
  }
}
@media screen and (min-width: 992px) {
  .menu__steps__content {
    width: 30%;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__steps__content {
    width: 48%;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__steps__content__desserts {
    width: 100%;
  }
}
.menu__dishes {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  row-gap: 0.3rem;
}
.menu__dishes__list {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  -webkit-animation: fadeIn 1s linear;
          animation: fadeIn 1s linear;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu__dishes__list__desserts {
    width: 95%;
  }
}
.menu__dishes__clickable {
  text-decoration: none;
  color: black;
  background: white;
  margin-bottom: 1rem;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.menu__dishes__title {
  font-weight: 500;
  font-size: 1.1rem;
}
.menu__dishes__ingredients {
  font-weight: 300;
  font-size: 0.85rem;
}
.menu__dishes__ingredients strong {
  font-size: 0.85;
  font-weight: 400;
}
.menu__dishes__price {
  font-weight: 500;
}
.menu__dishes__infos {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=styles.css.map */