@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 4px 2px 2px rgba(128, 128, 128, 0.5);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.position {
  background: #eaeaea;
}
.position__container {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  gap: 1rem;
  font-weight: 500;
  color: #353535;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.exploration {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.exploration a {
  color: white;
  border-radius: 30px;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  color: white;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  display: block;
  font-family: "Roboto", sans-serif;
}
.exploration__title {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
.exploration__description {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 100;
}
.exploration__button {
  display: block;
  box-shadow: none;
  border: none;
  background: none;
}
.exploration__button:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 3rem 0rem 3rem 0rem;
  width: 90%;
  margin: 0 auto;
}
.fonctionnement__title {
  margin-bottom: 1.5rem;
}
.fonctionnement__steps {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background: #f6f6f6;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.8rem 0rem 0.8rem 0rem;
  border-radius: 20px;
  font-weight: 700;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.fonctionnement__steps:hover {
  background: #9356dc;
}
.fonctionnement__steps__numbers {
  background: #9356dc;
  color: white;
  font-size: 1rem;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  right: 12px;
  font-weight: 500;
}
.fonctionnement__steps__icons {
  font-size: 1.4rem;
  color: #7e7e7e;
}
.fonctionnement__steps__text {
  margin-left: 12px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f6f6f6;
  font-weight: 700;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  row-gap: 1rem;
  margin-top: 3rem;
}
.restaurants__image {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0 0.5rem 0;
}
.restaurants__infos--new {
  margin-top: -30px;
}
.restaurants__left__box {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.restaurants__main__box {
  background: white;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.restaurants__location {
  font-weight: 100;
}
.restaurants__icons {
  font-size: 1.3rem;
}
.restaurants__new {
  position: relative;
  bottom: 170px;
  left: 260px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  width: 90px;
  color: #008766;
  border-radius: 2px;
}/*# sourceMappingURL=styles.css.map */