@import "../Utils/variables";
@import "../Utils/mixins";

footer {
     background: $color-background-footer;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
}

.footer {
     width: 90%;
     display: flex;
     flex-direction: column;
     row-gap: 0.5rem;
     &__title {
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          @include font-secondary;
          font-weight: 200;
          font-size: 1.3rem;
     }
     &__icons {
          width: 25px;
          height: 20px;
     }
     &__links {
          text-decoration: none;
          text-transform: none;
          color: white;
     }
}
