@import "../Utils/variables";
@import "../Base/normalize";
@import "../Utils/mixins";

.fonctionnement {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: #f6f6f6;
}
