@import "../Utils/variables";
@import "../Base/normalize";
@import "../Utils/mixins";

.fonctionnement {
     display: flex;
     justify-content: center;
     flex-direction: column;
     background: white;
     padding: 3rem 0rem 3rem 0rem;
     width: 90%;
     margin: 0 auto;
     &__title {
          margin-bottom: 1.5rem;
     }
     &__steps {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
          column-gap: 0.5rem;
          background: $background-accueil;
          margin-bottom: 2rem;
          font-size: 1.1rem;
          width: 100%;
          padding: 0.8rem 0rem 0.8rem 0rem;
          border-radius: 20px;
          @include font-weight-bold;
          @include box-shadow-cards;
          &:hover {
               background: $color-primary;
          }
          &__numbers {
               background: $color-primary;
               color: white;
               font-size: 1rem;
               height: 25px;
               width: 25px;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 50%;
               position: relative;
               right: 12px;
               font-weight: 500;
          }
          &__icons {
               font-size: 1.4rem;
               color: $grey-text;
          }
          &__text {
               margin-left: 12px;
          }
     }
}
