@import "../Utils/variables";
@import "../Base/normalize";
@import "../Utils/mixins";

.position {
    background: $color-background-position;
    &__container {
        display: flex;
        justify-content: center;
        padding-top: .7rem;
        padding-bottom: .7rem;
        gap: 1rem;
        font-weight: 500;
        @include font-secondary;
    }
}