@import "../Utils/variables";
@import "../Base/normalize";
@import "../Utils/mixins";

.restaurants {
     display: flex;
     flex-direction: column;
     justify-content: center;
     background: $background-accueil;
     @include font-weight-bold;
     @include desktop {
          border-radius: 20px;
          margin-bottom: 2rem;
     }
     &__list {
          display: flex;
          flex-direction: column;
          width: 90%;
          margin: 0 auto;
          row-gap: 1rem;
          margin-top: 1rem;
          margin-bottom: 3rem;
          @include desktop {
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: space-between;
               row-gap: 3rem;
          }
          @include tablette {
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: space-between;
          }
          &__title {
               width: 90%;
               margin: 0 auto;
               margin-top: 3rem;
          }
     }
     &__image {
          width: 100%;
          border-radius: 20px 20px 0px 0px;
     }
     &__infos {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%;
          margin: 0 auto;
          padding: 0.5rem 0 0.5rem 0;
     }
     &__left__box {
          display: flex;
          flex-direction: column;
          gap: 0.1rem;
     }
     &__main__box {
          background: white;
          text-decoration: none;
          color: black;
          border-radius: 20px;
          @include box-shadow-cards;
          position: relative;
          @include desktop {
               width: 23%;
          }
          @include tablette {
               width: 48%;
          }
     }
     &__location {
          @include font-weight-lighter;
     }
     &__icons {
          font-size: 1.3rem;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          -webkit-text-fill-color: transparent;
          background: linear-gradient(to top right, $color-secondary, $color-primary);
          background-repeat: no-repeat;
          color: transparent;
          background-size: 0%;
          transition: background-size 1s ease-in;
          background-clip: text;
          &:hover {
               background-size: 100%;
          }
     }
     &__new {
          position: absolute;
          top: 20px;
          right: 20px;
          height: 30px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background: #99e2d0;
          width: 90px;
          color: #008766;
          border-radius: 2px;
     }
     &__links {
          text-decoration: none;
          color: black;
     }
     &__like__buttons {
          text-decoration: none;
          color: black;
     }
}
