@keyframes fadeInBody {
     0% {
          opacity: 0;
     }

     80% {
          opacity: 0;
     }
     100% {
          opacity: 100%;
     }
}

@keyframes fadeInMenu {
     0% {
          opacity: 0;
          transform: translateY(35px);
     }
     100% {
          opacity: 1;
     }
}

@keyframes displayCheckmark {
     100% {
          margin: 0;
     }
}

@keyframes fadeoutCheckmark {
     from {
          margin: 0;
     }
     to {
          margin: 0rem -4rem 0rem 0rem;
     }
}

@keyframes rotationcheckmarkin {
     from {
          transform: rotate(500deg);
     }
     to {
          transform: rotate(0deg);
     }
}
@keyframes rotationcheckmarkout {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(500deg);
     }
}

@keyframes pacman {
     0% {
          transform: scale(1);
     }
     50% {
          transform: scale(0);
     }
     100% {
          transform: scale(1);
     }
}

@keyframes pacmanmoves {
     from {
          transform: translateX(-30%);
     }
     to {
          transform: translateX(120%);
     }
}

@keyframes eaten {
     0% {
          opacity: 1;
     }
     99% {
          opacity: 1;
     }
     100% {
          opacity: 0;
     }
}

@keyframes loaderDisapear {
     from {
          transform: scale(1);
     }
     to {
          transform: scale(0);
     }
}
