$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background-position: #eaeaea;
$background-accueil: #f6f6f6;
$grey-text: #7e7e7e;
$color-background-footer: #353535;
$anim-dur: 1000ms;
$dishes-count: 5;
$anim-delay: calc($anim-dur / $dishes-count);
$gradient: linear-gradient(to bottom, $color-secondary, $color-primary);
